:root {
  --accent: #2A254B;
  --accent-light: #2A254B;
  --accent-hover: #0056b3;
  --contrast: #ff0000;
  --contrast-hover: #cc0000;
  --font-1: "Satoshi", sans-serif;
  --font-2: "Clashdisplay", monospace;
}
